<!DOCTYPE html>
<html >
<head>
  
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="generator" content="Mobirise v5.9.13, a.mobirise.com">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <link rel="shortcut icon" href="assets/images/photo-1485400031595-976c74cf4e25.jpeg" type="image/x-icon">
  <meta name="description" content="Join our sports club for exciting events and ground booking facilities.">
  <title>Exciting Sports Events</title>
  <link rel="stylesheet" href="https://r.mobirisesite.com/368189/assets/web/assets/mobirise-icons2/mobirise2.css?rnd=1711615427253">
  <link rel="stylesheet" href="https://r.mobirisesite.com/368189/assets/bootstrap/css/bootstrap.min.css?rnd=1711615427253">
  <link rel="stylesheet" href="https://r.mobirisesite.com/368189/assets/bootstrap/css/bootstrap-grid.min.css?rnd=1711615427253">
  <link rel="stylesheet" href="https://r.mobirisesite.com/368189/assets/bootstrap/css/bootstrap-reboot.min.css?rnd=1711615427253">
  <link rel="stylesheet" href="https://r.mobirisesite.com/368189/assets/parallax/jarallax.css?rnd=1711615427253">
  <link rel="stylesheet" href="https://r.mobirisesite.com/368189/assets/dropdown/css/style.css?rnd=1711615427253">
  <link rel="stylesheet" href="https://r.mobirisesite.com/368189/assets/socicon/css/styles.css?rnd=1711615427253">
  <link rel="stylesheet" href="https://r.mobirisesite.com/368189/assets/theme/css/style.css?rnd=1711615427253">
  <link rel="preload" href="https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;700&display=swap&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;700&display=swap&display=swap"></noscript>
  <link rel="stylesheet" href="https://r.mobirisesite.com/368189/assets/css/mbr-additional.css?rnd=1711615427253" type="text/css">
  
  
  
  
</head>
<body>
  
  <section data-bs-version="5.1" class="menu menu2 cid-u8iSXoBB0o" once="menu" id="menu-5-u8iSXoBB0o">
	

	<nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
		<div class="container">
			<div class="navbar-brand">
				<span class="navbar-logo">
					<a href="">
						<img src="assets/images/photo-1485400031595-976c74cf4e25.jpeg" alt="Mobirise Website Builder" style="height: 4.3rem;">
					</a>
				</span>
				<span class="navbar-caption-wrap"><a class="navbar-caption text-black display-4" href="">Sportify</a></span>
			</div>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-bs-toggle="collapse" data-target="#navbarSupportedContent" data-bs-target="#navbarSupportedContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
				<div class="hamburger">
					<span></span>
					<span></span>
					<span></span>
					<span></span>
				</div>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav nav-dropdown" data-app-modern-menu="true"><li class="nav-item">
						<a class="nav-link link text-black display-4" href="#upcoming-events-section">Events</a>
					</li>
					<li class="nav-item">
						<a class="nav-link link text-black display-4" href="#questions-section" aria-expanded="false">Registration</a>
					</li>
					<li class="nav-item">
						<a class="nav-link link text-black display-4" href="#welcome-section">Grounds</a>
					</li></ul>
				
				<div class="navbar-buttons mbr-section-btn">
					<a class="btn btn-primary display-4" href="#connected-section">Join Now</a>
				</div>
			</div>
		</div>
	</nav>
</section>

<section data-bs-version="5.1" class="header18 cid-u8iSXoCQi5 mbr-fullscreen" data-bg-video="https://www.youtube.com/embed/MeZBSF8JEHc?autoplay=1&amp;loop=1&amp;playlist=MeZBSF8JEHc&amp;t=20&amp;mute=1&amp;playsinline=1&amp;controls=0&amp;showinfo=0&amp;autohide=1&amp;allowfullscreen=true&amp;mode=transparent" id="hero-15-u8iSXoCQi5">
  

  <div class="mbr-overlay" style="opacity: 0.5; background-color: rgb(0, 0, 0);"></div>
  <div class="container-fluid">
    <div class="row">
      <div class="content-wrap col-12 col-md-12">
        <h1 class="mbr-section-title mbr-fonts-style mbr-white mb-4 display-1">
          <strong>Game On!</strong>
        </h1>
        
        <p class="mbr-fonts-style mbr-text mbr-white mb-4 display-7">Get ready to sweat, scream, and score with our adrenaline-pumping sports events. Join the action today!</p>
        <div class="mbr-section-btn">
          <a class="btn btn-white-outline display-7" id="connectButton" href="">Connect with Metamask</a>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/@metamask/detect-provider"></script>
        <script>
          document.getElementById("connectButton").addEventListener("click", async () => {
              const provider = await detectEthereumProvider();
              if (provider) {
                  try {
                      await provider.request({ method: 'eth_requestAccounts' });
                      alert("Connected to MetaMask!");
                  } catch (error) {
                      console.error(error);
                      alert("Error connecting to MetaMask. Please make sure MetaMask is installed and unlocked.");
                  }
              } else {
                  alert("MetaMask extension not detected. Please install MetaMask.");
              }
          });
      </script>

    
      </div>
    </div>
  </div>
</section>

<section data-bs-version="5.1" class="article2 cid-u8iSXoCo0G" id="about-us-2-u8iSXoCo0G">
	

	
	

	<div class="container">
		<div class="row justify-content-center">
			<div class="col-12 col-md-12 col-lg-6 image-wrapper">
				<img class="w-100" src="assets/images/photo-1516820612845-a13894592046.jpeg" alt="Mobirise Website Builder">
			</div>
			<div class="col-12 col-md-12 col-lg">
				<div class="text-wrapper align-left">
					<h1 class="mbr-section-title mbr-fonts-style mb-4 display-2">
						<strong>Who We Are</strong>
					</h1>
					<p class="mbr-text align-left mbr-fonts-style mb-3 display-7">We are the ultimate playground for sports enthusiasts, where every game is a victory waiting to happen.</p>

					<p class="mbr-text align-left mbr-fonts-style mb-3 display-7">Join our tribe of thrill-seekers and unleash your inner champion on our courts and fields.</p>

					<p class="mbr-text align-left mbr-fonts-style mb-3 display-7">From rookies to pros, we welcome all to experience the rush of competition and camaraderie at Sportify.</p>

					
				</div>
			</div>
		</div>
	</div>
</section>

<section data-bs-version="5.1" class="image3 cid-u8iSXoChbH" id="image-2-u8iSXoChbH">
  

  
  

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-9">
        <h4 class="mbr-description mbr-fonts-style mb-3 align-center display-5">
          <strong>Feel the Energy</strong>
        </h4>
        <p class="mbr-description mbr-fonts-style mb-4 align-center display-7">Witness the passion and power of our sports community in action.</p>
        <div class="image-wrapper">
          <img class="w-100" src="assets/images/photo-1628891890467-b79f2c8ba9dc.jpeg" alt="Mobirise Website Builder">
        </div>
      </div>
    </div>
  </div>
</section>

<section data-bs-version="5.1" class="features03 cid-u8iSXoCCKN" id="upcoming-events-section">
  
  
  <div class="container-fluid">
    <div class="row justify-content-center mb-5">
      <div class="col-12 content-head">
        <div class="mbr-section-head">
          <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
            <strong>Upcoming Events</strong>
          </h4>
          
        </div>
      </div>
    </div>
    <div class="row">
      <div class="item features-image col-12 col-md-6 col-lg-3 active">
        <div class="item-wrapper">
          <div class="item-img mb-3">
            <img src="assets/images/photo-1617696618050-b0fef0c666af.jpeg" alt="Mobirise Website Builder" title="">
          </div>
          <div class="item-content align-left">
            <h5 class="item-title mbr-fonts-style mt-0 mb-2 display-5">
              <strong>Basketball Bonanza</strong>
            </h5>
            <p class="mbr-text mbr-fonts-style mb-3 display-7">April 5, 2024</p>
            <p class="mbr-text mbr-fonts-style mb-3 display-7">Dribble, shoot, and dunk your way to glory in our high-flying basketball showdown. Are you game?</p>
            <div class="mbr-section-btn item-footer">
              <a href="/eventbooking" class="btn item-btn btn-primary display-7">Join</a>
            </div>
          </div>
        </div>
      </div>
      <div class="item features-image col-12 col-md-6 col-lg-3">
        <div class="item-wrapper">
          <div class="item-img mb-3">
            <img src="assets/images/photo-1535131749006-b7f58c99034b.jpeg" alt="Mobirise Website Builder" title="" data-slide-to="1" data-bs-slide-to="1">
          </div>
          <div class="item-content align-left">
            <h5 class="item-title mbr-fonts-style mb-2 mt-0 display-5">
              <strong>Soccer Showdown</strong>
            </h5>
            <p class="mbr-text mbr-fonts-style mb-3 display-7">April 12, 2024</p>
            <p class="mbr-text mbr-fonts-style mb-3 display-7">Kick off the excitement with our heart-pounding soccer clash. Lace up and show off your skills on the field!</p>
            <div class="mbr-section-btn item-footer">
              <a href="/eventbooking" class="btn item-btn btn-primary display-7">Join</a>
            </div>
          </div>
        </div>
      </div>
      <div class="item features-image col-12 col-md-6 col-lg-3">
        <div class="item-wrapper">
          <div class="item-img mb-3">
            <img src="assets/images/photo-1611374243147-44a702c2d44c.jpeg" alt="Mobirise Website Builder" title="" data-slide-to="2" data-bs-slide-to="2">
          </div>
          <div class="item-content align-left">
            <h5 class="item-title mbr-fonts-style mb-2 mt-0 display-5">
              <strong>Tennis Tournament</strong>
            </h5>
            <p class="mbr-text mbr-fonts-style mb-3 display-7">April 19, 2024</p>
            <p class="mbr-text mbr-fonts-style mb-3 display-7">Serve, volley, and smash your way through our thrilling tennis tournament. Game, set, match – it's all on you!</p>
            <div class="mbr-section-btn item-footer">
              <a href="/eventbooking" class="btn item-btn btn-primary display-7">Join</a>
            </div>
          </div>
        </div>
      </div>
      <div class="item features-image col-12 col-md-6 col-lg-3">
        <div class="item-wrapper">
          <div class="item-img mb-3">
            <img src="assets/images/photo-1459865264687-595d652de67e.jpeg" alt="Mobirise Website Builder" title="" data-slide-to="2" data-bs-slide-to="2">
          </div>
          <div class="item-content align-left">
            <h5 class="item-title mbr-fonts-style mb-2 mt-0 display-5">
              <strong>Volleyball Vibes</strong>
            </h5>
            <p class="mbr-text mbr-fonts-style mb-3 display-7">April 26, 2024</p>
            <p class="mbr-text mbr-fonts-style mb-3 display-7">Bump, set, spike! Dive into the sandy arena and feel the beach vibes in our epic volleyball showdown. Ready to bump up the fun?</p>
            <div class="mbr-section-btn item-footer">
              <a href="/eventbooking" class="btn item-btn btn-primary display-7">Join</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Add any JavaScript files or scripts here -->
<script>
  document.addEventListener('DOMContentLoaded', function() {
      // Get the "Events" link
      var eventsLink = document.querySelector('.nav-link[href="#upcoming-events-section"]');
      
      // Add click event listener to the "Events" link
      eventsLink.addEventListener('click', function(event) {
          event.preventDefault(); // Prevent default link behavior
          
          // Get the section element with the id "upcoming-events-section"
          var section = document.getElementById('upcoming-events-section');
          
          // Scroll smoothly to the section
          section.scrollIntoView({ behavior: 'smooth' });
      });
  });
</script>

<section data-bs-version="5.1" class="features10 cid-u8iSXoCzbE" id="metrics-2-u8iSXoCzbE">
  

  
  
  <div class="container">
    
    <div class="row justify-content-center">
      <div class="item features-without-image col-12 col-md-6 col-lg-4">
        <div class="item-wrapper">
          <div class="card-box align-left">
            
            <h5 class="card-title mbr-fonts-style display-1">
              <strong>100+</strong>
            </h5>
            <p class="card-text mbr-fonts-style mb-3 display-7">Exciting Events</p>
            
          </div>
        </div>
      </div>
      <div class="item features-without-image col-12 col-md-6 col-lg-4">
        <div class="item-wrapper">
          <div class="card-box align-left">
            
            <h5 class="card-title mbr-fonts-style display-1">
              <strong>24/7</strong>
            </h5>
            <p class="card-text mbr-fonts-style mb-3 display-7">Ground Booking</p>
            
          </div>
        </div>
      </div>
      <div class="item features-without-image col-12 col-md-6 col-lg-4">
        <div class="item-wrapper">
          <div class="card-box align-left">
            
            <h5 class="card-title mbr-fonts-style display-1">
              <strong>Join Now!</strong>
            </h5>
            <p class="card-text mbr-fonts-style mb-3 display-7">Register Today</p>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section data-bs-version="5.1" class="article12 cid-u8iSXoCKrP" id="welcome-section">    
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-10">
                <h3 class="mbr-section-title mbr-fonts-style mb-4 mt-0 display-2">
                <strong>Welcome to Sports Mania</strong>
                </h3>
                
                <p class="mbr-text mbr-fonts-style display-7">Get ready to dive into the adrenaline-pumping world of sports with Sports Mania! We are the ultimate destination for all sports enthusiasts, organizing over 100 exciting events throughout the year.</p>
                <p class="mbr-text mbr-fonts-style display-7">Experience the thrill of competition and camaraderie as you participate in our diverse range of sports activities. Whether you're a seasoned athlete or a beginner, there's something for everyone at Sports Mania.</p>
                <p class="mbr-text mbr-fonts-style display-7">Don't miss out on the action! Join our vibrant community today and unlock exclusive benefits, including 24/7 ground booking facilities to practice and play your favorite sports.</p>
            </div>
        </div>
    </div>
</section>

<!-- Add any JavaScript files or scripts here -->
<script>
  document.addEventListener('DOMContentLoaded', function() {
      // Get the "Grounds" link
      var groundsLink = document.querySelector('.nav-link[href="#welcome-section"]');
      
      // Add click event listener to the "Grounds" link
      groundsLink.addEventListener('click', function(event) {
          event.preventDefault(); // Prevent default link behavior
          
          // Get the section element with the id "welcome-section"
          var section = document.getElementById('welcome-section');
          
          // Scroll smoothly to the section
          section.scrollIntoView({ behavior: 'smooth' });
      });
  });
</script>


<section data-bs-version="5.1" class="people03 cid-u8iSXoCvFs" id="team-1-u8iSXoCvFs">
    
    
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 content-head">
                <div class="mbr-section-head mb-5">
                    <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                        <strong>Meet Us</strong>
                    </h4>
                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="item features-image col-12 col-md-6 col-lg-3">
                <div class="item-wrapper">
                    <div class="item-img mb-3">
                        <img src="assets/images/photo-1658335786123-b4b2b56a8c1d.jpeg" alt="Mobirise Website Builder" title="">
                    </div>
                    <div class="item-content align-left">
                        <h5 class="item-title mbr-fonts-style display-5">
                            <strong>Max</strong>
                        </h5>
                        <h6 class="item-subtitle mbr-fonts-style mb-3 display-7">Chief Sports Enthusiast</h6>
                        
                    </div>
                    
                </div>
            </div>
            <div class="item features-image col-12 col-md-6 col-lg-3">
                <div class="item-wrapper">
                    <div class="item-img mb-3">
                        <img src="assets/images/photo-1546919057-eae69a7a3c35.jpeg" alt="Mobirise Website Builder" title="">
                    </div>
                    <div class="item-content align-left">
                        <h5 class="item-title mbr-fonts-style display-5">
                            <strong>Luna</strong>
                        </h5>
                        <h6 class="item-subtitle mbr-fonts-style mb-3 display-7">Event Maestro</h6>
                        
                    </div>
                    
                </div>
            </div>
            <div class="item features-image col-12 col-md-6 col-lg-3">
                <div class="item-wrapper">
                    <div class="item-img mb-3">
                        <img src="assets/images/photo-1656338997878-279d71d48f6e.jpeg" alt="Mobirise Website Builder" title="">
                    </div>
                    <div class="item-content align-left">
                        <h5 class="item-title mbr-fonts-style display-5">
                            <strong>Leo</strong>
                        </h5>
                        <h6 class="item-subtitle mbr-fonts-style mb-3 display-7">Ground Guru</h6>
                        
                    </div>
                    
                </div>
            </div>
            <div class="item features-image col-12 col-md-6 col-lg-3">
                <div class="item-wrapper">
                    <div class="item-img mb-3">
                       <img src="assets/images/photo-1633594708103-e6e41891b679.jpeg" alt="Mobirise Website Builder" title="" data-slide-to="3" data-bs-slide-to="3">
                    </div>
                    <div class="item-content align-left">
                        <h5 class="item-title mbr-fonts-style display-5">
                            <strong>Aria</strong>
                        </h5>
                        <h6 class="item-subtitle mbr-fonts-style mb-3 display-7">Registration Rockstar</h6>
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="gallery07 cid-u8iSXoDuxa" id="gallery-16-u8iSXoDuxa">
  
  
  <div class="container-fluid gallery-wrapper">
    <div class="row justify-content-center">
      <div class="col-12 content-head">
        <div class="mbr-section-head mb-5">
          <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
            <strong>Event Highlights</strong>
          </h4>
          
        </div>
      </div>
    </div>
    <div class="grid-container">
      <div class="grid-container-3 moving-left" style="transform: translate3d(-200px, 0px, 0px);">
        <div class="grid-item">
          <img src="assets/images/photo-1517649763962-0c623066013b.jpeg" alt="Mobirise Website Builder">
        </div>
        <div class="grid-item">
          <img src="assets/images/photo-1484482340112-e1e2682b4856.jpeg" alt="Mobirise Website Builder">
        </div>
        <div class="grid-item">
          <img src="assets/images/photo-1599586120429-48281b6f0ece.jpeg" alt="Mobirise Website Builder">
        </div>
        <div class="grid-item">
          <img src="assets/images/photo-1587280501635-68a0e82cd5ff.jpeg" alt="Mobirise Website Builder">
        </div>
      </div>
    </div>
  </div>
</section>

<section data-bs-version="5.1" class="header09 cid-u8iSXoDO2C" id="call-to-action-7-u8iSXoDO2C">
    
    
    
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8">
                <h1 class="mbr-section-title mbr-fonts-style mb-4 display-1">
                    <strong>Ready to Play? Join Us Now!</strong>
                </h1>
                <p class="mbr-fonts-style mbr-text mb-4 display-7">Experience the thrill of sports with Sports Mania. Register today!</p>
                <div class="mbr-section-btn">
                    <a class="btn btn-primary display-7" href="">Join the Fun</a> 
                    <a class="btn btn-primary display-7" href="/groundbooking">Book Your Ground</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="people02 cid-u8iSXoGPqW" id="testimonials-10-u8iSXoGPqW">
	

	
	
	<div class="container">
		<div class="row mb-5 justify-content-center">
			<div class="col-12 content-head">
				<h3 class="mbr-section-title mbr-fonts-style align-center mb-4 display-2">
					<strong>Thrilling</strong>
				</h3>
				<h5 class="mbr-section-subtitle mbr-fonts-style align-center mb-4 display-7">Join the adrenaline-fueled action at our sports club today!</h5>
			</div>
		</div>
		<div class="row">
				<div class="item features-without-image col-12 col-md-6 col-lg-4 mb-5">
					<div class="item-wrapper">
						<div class="card-box align-center">
							<div class="iconfont-wrapper mb-3">
								<span class="mbr-iconfont mobi-mbri-star mobi-mbri"></span>
								<span class="mbr-iconfont mobi-mbri-star mobi-mbri"></span>
								<span class="mbr-iconfont mobi-mbri-star mobi-mbri"></span>
								<span class="mbr-iconfont mobi-mbri-star mobi-mbri"></span>
								<span class="mbr-iconfont mobi-mbri-star mobi-mbri"></span>
							</div>
							<h5 class="card-title mbr-fonts-style mb-3 display-7">Unleash your inner champion at the most electrifying sports events in town.</h5>
							<p class="card-text mbr-fonts-style mb-0 display-7">Max Power</p>
						</div>
					</div>
				</div>
				<div class="item features-without-image col-12 col-md-6 col-lg-4 mb-5">
					<div class="item-wrapper">
						<div class="card-box align-center">
							<div class="iconfont-wrapper mb-3">
								<span class="mbr-iconfont mobi-mbri-star mobi-mbri"></span>
								<span class="mbr-iconfont mobi-mbri-star mobi-mbri"></span>
								<span class="mbr-iconfont mobi-mbri-star mobi-mbri"></span>
								<span class="mbr-iconfont mobi-mbri-star mobi-mbri"></span>
								<span class="mbr-iconfont mobi-mbri-star mobi-mbri"></span>
							</div>
							<h5 class="card-title mbr-fonts-style mb-3 display-7">I never knew booking a ground could be this exhilarating!</h5>
							<p class="card-text mbr-fonts-style mb-0 display-7">Samantha Sparks</p>
						</div>
					</div>
				</div>
				<div class="item features-without-image col-12 col-md-6 col-lg-4 mb-5">
					<div class="item-wrapper">
						<div class="card-box align-center">
							<div class="iconfont-wrapper mb-3">
								<span class="mbr-iconfont mobi-mbri-star mobi-mbri"></span>
								<span class="mbr-iconfont mobi-mbri-star mobi-mbri"></span>
								<span class="mbr-iconfont mobi-mbri-star mobi-mbri"></span>
								<span class="mbr-iconfont mobi-mbri-star mobi-mbri"></span>
								<span class="mbr-iconfont mobi-mbri-star mobi-mbri"></span>
							</div>
							<h5 class="card-title mbr-fonts-style mb-3 display-7">The energy at the club is contagious, I'm hooked for life!</h5>
							<p class="card-text mbr-fonts-style mb-0 display-7">Rocky Racer</p>
						</div>
					</div>
				</div>
			</div>
		<div class="row mt-0 mt-md-5">
			<div class="col-12 align-center">
				<div class="mbr-section-btn">
					<a class="btn btn-primary display-7" href="https://mobiri.se">Join the Fun Now</a>
				</div>
			</div>
		</div>
	</div>
</section>

<section data-bs-version="5.1" class="pricing1 cid-u8iSXoGJEt" id="pricing-cards-1-u8iSXoGJEt">
    
    
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 content-head">
                <div class="mbr-section-head mb-5">
                    <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                        <strong>Game On</strong>
                    </h4>
                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="item features-without-image col-12 col-md-6 col-lg-3 item-mb active">
                <div class="item-wrapper">
                    <div class="item-head">
                        <h5 class="item-title mbr-fonts-style mb-0 display-5">
                            <strong>Basic Blitz</strong>
                        </h5>
                        <h6 class="item-subtitle mbr-fonts-style mt-0 mb-0 display-7">
                            <strong>$29</strong>/day
                        </h6>
                    </div>
                    <div class="item-content">
                        <p class="mbr-text mbr-fonts-style display-7">Get a taste of the action with our Basic Blitz plan. Perfect for spontaneous sports enthusiasts!</p>
                    </div>
                    <div class="mbr-section-btn item-footer">
                        <a href="" class="btn item-btn btn-primary display-7">Get Started</a>
                    </div>
                </div>
            </div>
            <div class="item features-without-image col-12 col-md-6 col-lg-3 item-mb">
                <div class="item-wrapper">
                    <div class="item-head">
                        <h5 class="item-title mbr-fonts-style mb-0 display-5">
                            <strong>Pro Play</strong>
                        </h5>
                        <h6 class="item-subtitle mbr-fonts-style mt-0 mb-0 display-7">
                            <strong>$49</strong>/day
                        </h6>
                    </div>
                    <div class="item-content">
                        <p class="mbr-text mbr-fonts-style display-7">Elevate your game with the Pro Play plan. Ideal for serious athletes looking for top-notch facilities.</p>
                    </div>
                    <div class="mbr-section-btn item-footer">
                        <a href="" class="btn item-btn btn-primary display-7">Get Started</a>
                    </div>
                </div>
            </div>

            <div class="item features-without-image col-12 col-md-6 col-lg-3 item-mb">
                <div class="item-wrapper">
                    <div class="item-head">
                        <h5 class="item-title mbr-fonts-style mb-0 display-5">
                            <strong>Elite Edge</strong>
                        </h5>
                        <h6 class="item-subtitle mbr-fonts-style mt-0 mb-0 display-7">
                            <strong>$79</strong>/day
                        </h6>
                    </div>
                    <div class="item-content">
                        <p class="mbr-text mbr-fonts-style display-7">Experience the ultimate sports luxury with our Elite Edge plan. For those who demand the best.</p>
                    </div>
                    <div class="mbr-section-btn item-footer">
                        <a href="" class="btn item-btn btn-primary display-7">Get Started</a>
                    </div>
                </div>
            </div>

            <div class="item features-without-image col-12 col-md-6 col-lg-3 item-mb">
                <div class="item-wrapper">
                    <div class="item-head">
                        <h5 class="item-title mbr-fonts-style mb-0 display-5">
                            <strong>VIP Victory</strong>
                        </h5>
                        <h6 class="item-subtitle mbr-fonts-style mt-0 mb-0 display-7">
                            <strong>$99</strong>/day
                        </h6>
                    </div>
                    <div class="item-content">
                        <p class="mbr-text mbr-fonts-style display-7">Claim your VIP status and enjoy exclusive perks with our VIP Victory plan. Be treated like a sports royalty!</p>
                    </div>
                    <div class="mbr-section-btn item-footer">
                        <a href="" class="btn item-btn btn-primary display-7">Get Started</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="features5 cid-u8iSXoGMew mbr-parallax-background" id="features-33-u8iSXoGMew">
    

    
    
    <div class="container">
        
        <div class="row">
            <div class="item features-without-image col-12 col-md-6 col-lg-4 item-mb">
                <div class="item-wrapper">
                    <div class="card-box align-left">
                        
                        <h5 class="card-title mbr-fonts-style display-5">
                            <strong>Action Packed</strong>
                        </h5>
                        <p class="card-text mbr-fonts-style display-7">Exciting sports events that will keep you on the edge!</p>
                        
                    </div>
                </div>
            </div>
            <div class="item features-without-image col-12 col-md-6 col-lg-4 item-mb">
                <div class="item-wrapper">
                    <div class="card-box align-left">
                        
                        <h5 class="card-title mbr-fonts-style display-5">
                            <strong>Ground Booking</strong>
                        </h5>
                        <p class="card-text mbr-fonts-style display-7">Easily book grounds for your games and practices.</p>
                        
                    </div>
                </div>
            </div>
            <div class="item features-without-image col-12 col-md-6 col-lg-4 item-mb">
                <div class="item-wrapper">
                    <div class="card-box align-left">
                        
                        <h5 class="card-title mbr-fonts-style display-5">
                            <strong>Community Fun</strong>
                        </h5>
                        <p class="card-text mbr-fonts-style display-7">Join a vibrant community of sports enthusiasts.</p>
                        
                    </div>
                </div>
            </div>
            <div class="item features-without-image col-12 col-md-6 col-lg-4 item-mb">
                <div class="item-wrapper">
                    <div class="card-box align-left">
                        
                        <h5 class="card-title mbr-fonts-style display-5">
                            <strong>Champion Mentality</strong>
                        </h5>
                        <p class="card-text mbr-fonts-style display-7">Unlock your full potential with our champion-focused environment.</p>
                        
                    </div>
                </div>
            </div>
            <div class="item features-without-image col-12 col-md-6 col-lg-4 item-mb">
                <div class="item-wrapper">
                    <div class="card-box align-left">
                        
                        <h5 class="card-title mbr-fonts-style display-5">
                            <strong>Thrilling Atmosphere</strong>
                        </h5>
                        <p class="card-text mbr-fonts-style display-7">Feel the energy and excitement in every corner of our club.</p>
                        
                    </div>
                </div>
            </div>
            <div class="item features-without-image col-12 col-md-6 col-lg-4 item-mb">
                <div class="item-wrapper">
                    <div class="card-box align-left">
                        
                        <h5 class="card-title mbr-fonts-style display-5">
                            <strong>Unleash Passion</strong>
                        </h5>
                        <p class="card-text mbr-fonts-style display-7">Fuel your passion for sports with our dynamic events and facilities.</p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="list05 cid-u8iSXoHxmf" id="questions-section">
    
    <div class="container">
        <div class="col-12 mb-5 content-head">
            <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                <strong>Got Questions? We Have Answers!</strong>
            </h3>
            
        </div>
        <div class="row justify-content-center ">
            <div class="col-12 col-lg-8">
                <div class="item features-without-image col-12 active">
                    <div class="item-wrapper">
                        <h5 class="mbr-card-title mbr-fonts-style mt-0 mb-3 display-5">
                            <strong>How do I register for events?</strong></h5>
                        <p class="mbr-text mbr-fonts-style mt-0 mb-3 display-7">Registration for events is quick and easy through our online portal. Simply choose your event and secure your spot!</p>
                    </div>
                </div>
                <div class="item features-without-image col-12">
                    <div class="item-wrapper">
                        <h5 class="mbr-card-title mbr-fonts-style mt-0 mb-3 display-5">
                            <strong>Can I book a ground for private use?</strong></h5>
                        <p class="mbr-text mbr-fonts-style mt-0 mb-3 display-7">Yes, you can! Our ground booking facility allows you to reserve a space for your exclusive use, whether for games or practice.</p>
                    </div>
                </div>
                <div class="item features-without-image col-12">
                    <div class="item-wrapper">
                        <h5 class="mbr-card-title mbr-fonts-style mt-0 mb-3 display-5">
                            <strong>Are there membership options available?</strong></h5>
                        <p class="mbr-text mbr-fonts-style mt-0 mb-3 display-7">We offer a range of membership plans to suit your needs, from casual players to dedicated athletes. Explore our options for exclusive benefits!</p>
                    </div>
                </div>
                <div class="item features-without-image col-12">
                  <div class="item-wrapper">
                      <h5 class="mbr-card-title mbr-fonts-style mt-0 mb-3 display-5">
                          <strong>What sports events do you organize?</strong></h5>
                      <p class="mbr-text mbr-fonts-style mt-0 mb-3 display-7">From adrenaline-pumping tournaments to friendly matches, we host a variety of sports events for all levels of players. Check out our calendar for upcoming excitement!</p>
                  </div>
              </div>
              <div class="item features-without-image col-12">
                <div class="item-wrapper">
                    <h5 class="mbr-card-title mbr-fonts-style mt-0 mb-3 display-5">
                        <strong>How can I stay updated on club activities?</strong></h5>
                    <p class="mbr-text mbr-fonts-style mt-0 mb-3 display-7">Stay in the loop with our social media channels and newsletter. Don't miss out on the latest news, events, and special offers!</p>
                </div>
            </div>
            </div>
        </div>
    </div>
</section>

<!-- Add any JavaScript files or scripts here -->
<script>
  document.addEventListener('DOMContentLoaded', function() {
      // Get the "Registration" link
      var registrationLink = document.querySelector('.nav-link[href="#questions-section"]');
      
      // Add click event listener to the "Registration" link
      registrationLink.addEventListener('click', function(event) {
          event.preventDefault(); // Prevent default link behavior
          
          // Get the section element with the id "questions-section"
          var section = document.getElementById('questions-section');
          
          // Scroll smoothly to the section
          section.scrollIntoView({ behavior: 'smooth' });
      });
  });
</script>


<section data-bs-version="5.1" class="social05 cid-u8iSXoHnkR" id="follow-us-2-u8iSXoHnkR">
    

    

    <div class="container">
        <div class="row">
            <h3 class="mbr-section-title align-center mb-5 mbr-fonts-style display-2">
                <strong>Stay Connected with Us</strong>
            </h3>
            <div class="col-12">
                <div class="social-row">
                    <div class="soc-item">
                        <a href="https://mobiri.se/" target="_blank">
                            <span class="mbr-iconfont socicon socicon-facebook"></span>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="https://mobiri.se/" target="_blank">
                            <span class="mbr-iconfont socicon-twitter socicon"></span>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="https://mobiri.se/" target="_blank">
                            <span class="mbr-iconfont socicon-instagram socicon"></span>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="https://mobiri.se/" target="_blank">
                            <span class="mbr-iconfont socicon socicon-linkedin"></span>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="https://mobiri.se/" target="_blank">
                            <span class="mbr-iconfont socicon socicon-twitch"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="clients04 cid-u8iSXoH6D4" id="clients-1-u8iSXoH6D4">
    
    
    <div class="container-fluid">
        <div class="row justify-content-center mb-5">
            <div class="col-12 content-head">
                <div class="mbr-section-head">
                    <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                        <strong>Join Our Epic Events</strong>
                    </h4>
                    
                </div>
            </div>
        </div>
        <div class="row">
            <div class="item features-image col-12 col-md-6 col-sm-6 col-lg-2 active">
                <div class="item-wrapper">
                    <div class="">
                        <img src="assets/images/photo-1646825461394-ebd1800141d1.jpeg" alt="Mobirise Website Builder" title="" data-slide-to="1" data-bs-slide-to="1">
                    </div>
                    
                </div>
            </div>
            <div class="item features-image col-12 col-md-6 col-sm-6 col-lg-2">
                <div class="item-wrapper">
                    <div class="">
                        <img src="assets/images/photo-1579041925709-798d7d0fed1d.jpeg" alt="Mobirise Website Builder" title="" data-slide-to="2" data-bs-slide-to="2">
                    </div>
                    
                </div>
            </div>
            <div class="item features-image col-12 col-md-6 col-sm-6 col-lg-2">
                <div class="item-wrapper">
                    <div class="">
                        <img src="assets/images/photo-1554463529-e27854014799.jpeg" alt="Mobirise Website Builder" title="" data-slide-to="3" data-bs-slide-to="3">
                    </div>
                    
                </div>
            </div>
            <div class="item features-image col-12 col-md-6 col-sm-6 col-lg-2">
                <div class="item-wrapper">
                    <div class="">
                        <img src="assets/images/photo-1606136968306-ab2868cc1f21.jpeg" alt="Mobirise Website Builder" title="" data-slide-to="4" data-bs-slide-to="4">
                    </div>
                    
                </div>
            </div>
            <div class="item features-image col-12 col-md-6 col-sm-6 col-lg-2">
                <div class="item-wrapper">
                    <div class="">
                        <img src="assets/images/photo-1596622723231-b20320c7346b.jpeg" alt="Mobirise Website Builder" title="" data-slide-to="5" data-bs-slide-to="5">
                    </div>
                    
                </div>
            </div>
            <div class="item features-image col-12 col-md-6 col-sm-6 col-lg-2">
                <div class="item-wrapper">
                    <div class="">
                        <img src="assets/images/photo-1651853082689-706323a31427.jpeg" alt="Mobirise Website Builder" title="" data-slide-to="6" data-bs-slide-to="6">
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="form5 cid-u8iSXoH6S1" id="connected-section">
    
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 content-head">
                <div class="mbr-section-head mb-5">
                    <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                        <strong>Get in the Game</strong>
                    </h3>
                    
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8 mx-auto mbr-form" data-form-type="formoid">
                <form action="https://mobirise.eu/" method="POST" class="mbr-form form-with-styler" data-form-title="Form Name"><input type="hidden" name="email" data-form-email="true" value="v9RTjAsIkuk80dviCqUw2UrHKprm5q84gcAuGRYDcquKbVy0N1ZV4ERFHF0pop+tlCliuuQpLLSLnGU4R70+n9W4lO8NB8imThRGFV1dPm4CvEPIbrZHlk/UoC6zzD2T">
                    <div class="row">
                        <div hidden="hidden" data-form-alert="" class="alert alert-success col-12">Thanks for filling out the form!</div>
                        <div hidden="hidden" data-form-alert-danger="" class="alert alert-danger col-12">
                            Oops...! some problem!
                        </div>
                    </div>
                    <div class="dragArea row">
                        <div class="col-md col-sm-12 form-group mb-3" data-for="name">
                            <input type="text" name="name" placeholder="Name" data-form-field="name" class="form-control" value="" id="name-contact-form-3-u8iSXoH6S1">
                        </div>
                        <div class="col-md col-sm-12 form-group mb-3" data-for="email">
                            <input type="email" name="email" placeholder="Email" data-form-field="email" class="form-control" value="" id="email-contact-form-3-u8iSXoH6S1">
                        </div>
                        <div class="col-12 form-group mb-3 mb-3" data-for="url">
                            <input type="url" name="url" placeholder="Phone" data-form-field="url" class="form-control" value="" id="url-contact-form-3-u8iSXoH6S1">
                        </div>
                        <div class="col-12 form-group mb-3" data-for="textarea">
                            <textarea name="textarea" placeholder="Message" data-form-field="textarea" class="form-control" id="textarea-contact-form-3-u8iSXoH6S1"></textarea>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 align-center mbr-section-btn">
                            <button type="submit" class="btn btn-primary display-7">Sign Up Now</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- Add any JavaScript files or scripts here -->
<script>
  document.addEventListener('DOMContentLoaded', function() {
      // Get the "Join Now" button
      var joinNowButton = document.querySelector('.btn[href="#connected-section"]');
      
      // Add click event listener to the "Join Now" button
      joinNowButton.addEventListener('click', function(event) {
          event.preventDefault(); // Prevent default link behavior
          
          // Get the section element with the id "connected-section"
          var section = document.getElementById('connected-section');
          
          // Scroll smoothly to the section
          section.scrollIntoView({ behavior: 'smooth' });
      });
  });
</script>


<section data-bs-version="5.1" class="contacts02 map1 cid-u8iSXoHvm9" id="contacts-2-u8iSXoHvm9">

    

    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 content-head">
                <div class="mbr-section-head mb-5">
                    <h3 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2">
                        <strong>Get Connected</strong>
                    </h3>
                    
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="card col-12 col-md-12 col-lg-6">
                <div class="card-wrapper">
                    <div class="text-wrapper">
                        
                        <ul class="list mbr-fonts-style display-7">
                            <li class="mbr-text item-wrap">
                            Call:                                
                            <a href="tel:123-456-7890" class="text-black">123-456-7890</a></li>

                            <li class="mbr-text item-wrap">WhatsApp: 
                            <a href="tel:123-456-7890" class="text-black">123-456-7890</a></li> 

                            <li class="mbr-text item-wrap">                            
                            Email:
                            <a href="mailto:info@sportsclub.com" class="text-black">info@sportsclub.com</a>                        
                            </li>

                            <li class="mbr-text item-wrap">                        
                            Location:
                            123 Main Street, Sports City
                            </li>

                            <li class="mbr-text item-wrap">
                            Opening Hours:
                            Mon-Fri: 9am-9pm
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="map-wrapper col-md-12 col-lg-6">
                <div class="google-map"><iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6045.3003145248895!2d-73.9884657!3d40.7477229!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259a9ac1f1b85%3A0x7e33d1c0e7af3be4!2zMzUwIDV0aCBBdmUsIE5ldyBZb3JrLCBOWSAxMDExOCwg0KHQqNCQ!5e0!3m2!1sru!2sru!4v1689597362021!5m2!1sen!2sen" allowfullscreen=""></iframe></div>
            </div>
        </div>
    </div>
</section>

<section data-bs-version="5.1" class="footer3 cid-u8iSXoH6To" once="footers" id="footer-3-u8iSXoH6To">

        

    

    <div class="container">
        <div class="row">
            <div class="row-links">
                <ul class="header-menu">
                  
                  
                  
                  
                <li class="header-menu-item mbr-fonts-style display-5">
                    <a href="#" class="text-white">About</a>
                  </li><li class="header-menu-item mbr-fonts-style display-5">
                    <a href="#" class="text-white">Events</a>
                  </li><li class="header-menu-item mbr-fonts-style display-5">
                    <a href="#" class="text-white">Gallery</a>
                  </li><li class="header-menu-item mbr-fonts-style display-5">
                    <a href="#" class="text-white">Contact</a>
                  </li></ul>
              </div>

            <div class="col-12 mt-4">
                <div class="social-row">
                    <div class="soc-item">
                        <a href="https://mobiri.se/" target="_blank">
                            <span class="mbr-iconfont socicon socicon-facebook display-7"></span>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="https://mobiri.se/" target="_blank">
                            <span class="mbr-iconfont socicon-twitter socicon"></span>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="https://mobiri.se/" target="_blank">
                            <span class="mbr-iconfont socicon-instagram socicon"></span>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="https://mobiri.se/" target="_blank">
                            <span class="mbr-iconfont socicon socicon-linkedin"></span>
                        </a>
                    </div>
                    <div class="soc-item">
                        <a href="https://mobiri.se/" target="_blank">
                            <span class="mbr-iconfont socicon socicon-twitch"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-5">
                <p class="mbr-fonts-style copyright display-7">© 2024 Sports Club. All Rights Reserved.</p>
            </div>
        </div>
    </div>
</section>


  <script src="assets/web/assets/jquery/jquery.min.js"></script>
  <script src="assets/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/parallax/jarallax.js"></script>
  <script src="assets/smoothscroll/smooth-scroll.js"></script>
  <script src="assets/ytplayer/index.js"></script>
  <script src="assets/dropdown/js/navbar-dropdown.js"></script>
  <script src="assets/vimeoplayer/player.js"></script>
  <script src="assets/scrollgallery/scroll-gallery.js"></script>
  <script src="assets/theme/js/script.js"></script>
  <script src="assets/formoid/formoid.min.js"></script>
  
  
  
</body>
</html>
